//font variables
$xxl-font7:16rem;
$xxl-font6:14rem;
$xxl-font5:12rem;
$xxl-font4: 10rem;
$xxl-font3: 8rem;
$xxl-font2: 6rem;
$xxl-font: 4rem;
$xl-font: 3rem;
$lg-font: 2.25rem;
$md-font: 1.5rem;
$sm-font: 1rem;
$xs-font: 0.5rem;
$xxs-font: 0.81rem;
$extra-font: 1.25rem;
$extra-font2: 2rem;
$vs-font: 0.75rem;

//color variables
$primary-color: #000000;
$secondary-color: #d87d4a;
$primary-color2:#101010;
$white-color: #ffffff;
$fill-color: #f1f1f1;
$gray-color: gray;
$gray1: #000000 opacity(0);