@import "../../styles/main.scss";

.main{
    .header{
        background: $primary-color;
        padding: $xxl-font2 0rem;
        @include flexCenterCenter;
        @include lg{
            padding: $xxl-font 0rem;
        }
        @include sm{
            padding: $extra-font2 0rem;
        }
        h1{
            color: $fill-color;
            font-weight: 700;
            font-family: "Manrope", sans-serif;
            font-size: $xl-font ;
            text-transform: uppercase;
        }
    }

    .content__mobile{
        display: none;
         @include lg{
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 2rem;
         }
         @include sm{
            display: flex;
            padding: 2rem 1rem;
         }
         .card{
            @include lg{
                margin: $xl-font auto;
                display: grid;
                align-items: center;
                justify-content: space-between;
                grid-template-columns: repeat(1, 1fr);
            }
    
             .card__image{
                display: block;
                @include lg{
                    display: none;
                }
                @include sm{
                    display: none;
                }
             }
        
             .card__image__tablet{
                display: none;
                @include lg{
                display: block;
                }
                @include sm{
                    display: none;
                }
        
             } .card__image__mobile{
                display: none;
                @include lg{
                    display: none;
                }
                @include sm{
                    display: block
                }
             }
        .card__image *{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0.5rem;
            @include lg{
                display: none;
            }
            @include sm{
                display: none;
            }
         }
    
         .card__image__tablet *{
            display: none;
    
            @include lg{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0.5rem;
            margin: 0 auto;
            }
            @include sm{
                display: none;
            }
    
         }.card__image__mobile *{
            display: none;
            @include lg{
                display: none;
            }
            @include sm{
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0.5rem;
                margin: 0 auto;
            }
            @include sp{
                display: block;
                border-radius: 0.5rem;
                margin: 0 auto;
                padding: 0rem 1rem;
            }
         }
         .card__text{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap:$xs-font;
            h2{
                color: $secondary-color;
                font-weight: 400;
                font-family: "Manrope", sans-serif;
                font-size: $md-font; 
                letter-spacing: $xs-font;
            @include lg{
                text-align: center;
            }
            @include sm{
                font-size: $sm-font;
                padding: 0.5rem 0;
            }
            }
    
            h3{
                color: $primary-color;
                font-weight: 700;
                font-family: "Manrope", sans-serif;
                font-size: $xl-font; 
                width: 10ch;
                @include lg{
                    text-align: center;
                    font-size: $lg-font; 
                    width: 100%;
                }
            }
    
            :nth-child(3){
                color: gray;
                font-weight: 400;
                font-family: "Manrope", sans-serif;
                font-size: $sm-font; 
            }
            @include sm{
                text-align: center;
            }
    
            button{
                background-color: $secondary-color;
                margin-top: $md-font;
                padding: $xxs-font $extra-font2;
                display: flex;
                width: fit-content;
                border: none;
               &:hover{
                    background-color: transparent;
                    border: 1px solid $primary-color;

                    .link{
                        color: $primary-color;
                     }
                 }
                @include lg{
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;
                }
            @include sm{
                padding: $xs-font $sm-font;
            }
                .link{
                    font-size: $sm-font;
                    font-weight: 700;
                    font-family: "Manrope", sans-serif;
                    color:$white-color;
                    letter-spacing: 0rem;
    
                }
             }
    
    
         }
    
        }
    }
    
    .content{
        display: flex;
        flex-direction: column;
        padding: 5rem $xxl-font5;
        padding-bottom: 0rem;
        width: 100%;
        @include xl{ 
        padding:5rem $xxl-font2;
    }
     @include lg{
        display: none;
     }
     @include sm{
        display: none;
     }
     .card{
        margin: $xl-font auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: space-between;
        @include lg{
            grid-template-columns: repeat(1, 1fr);
        }

         .card__image{
            display: block;
            @include lg{
                display: none;
            }
            @include sm{
                display: none;
            }
         }
    
         .card__image__tablet{
            display: none;
            @include lg{
            display: block;
            }
            @include sm{
                display: none;
            }
    
         } .card__image__mobile{
            display: none;
            @include lg{
                display: none;
            }
            @include sm{
                display: block
            }
         }
    .card__image *{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.5rem;
        @include lg{
            display: none;
        }
        @include sm{
            display: none;
        }
     }

     .card__image__tablet *{
        display: none;

        @include lg{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.5rem;
        }
        @include sm{
            display: none;
        }

     }.card__image__mobile *{
        display: none;
        @include lg{
            display: none;
        }
        @include sm{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0.5rem;
            margin: 0 auto;
        }
        @include sp{
            display: block;
            border-radius: 0.5rem;
            margin: 0 auto;
            padding: 0rem 1rem;
        }
     }
     .card__text{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap:$xs-font;
        h2{
            color: $secondary-color;
            font-weight: 400;
            font-family: "Manrope", sans-serif;
            font-size: $md-font; 
            letter-spacing: $xs-font;
        @include lg{
            text-align: center;
        }
        @include sm{
            font-size: $sm-font;
            padding: 0.5rem 0;
        }
        }

        h3{
            color: $primary-color;
            font-weight: 700;
            font-family: "Manrope", sans-serif;
            font-size: $xl-font; 
            width: 10ch;
            @include lg{
                text-align: center;
                font-size: $lg-font; 
                width: 100%;
            }
        }

        :nth-child(3){
            color: gray;
            font-weight: 400;
            font-family: "Manrope", sans-serif;
            font-size: $sm-font; 
        }
        @include sm{
            text-align: center;
        }

        button{
            background-color: $secondary-color;
            margin-top: $md-font;
            padding: $xxs-font $extra-font2;
            display: flex;
            width: fit-content;
            border: 1px solid transparent;
            &:hover{
                background-color: transparent;
                border: 1px solid $primary-color;
             }
             &:hover .link{
                color: $primary-color;
             }
            @include lg{
                justify-content: center;
                align-items: center;
                margin: 0 auto;
            }
        @include sm{
            padding: $xs-font $sm-font;
        }
            .link{
                font-size: $sm-font;
                font-weight: 700;
                font-family: "Manrope", sans-serif;
                color:$white-color;
                letter-spacing: 0rem;
            }
         }


     }

    }
    }


   }